.git
.gitignore

.env
.env.*
!.env.example

/vendor
/node_modules

/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

.phpunit.result.cache

Dockerfile
docker-compose.yml
docker-compose.override.yml